/* Thruk3.css */
@import '../node_modules/@iconscout/unicons/css/line.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*******************************************************************************
 * basic colors
 */
.bgUP, .bgOK {
  @apply bg-lime-500 text-white;
}
.bgWARNING {
  @apply bg-yellow-200;
}
.bgUNKNOWN {
  @apply bg-orange-300;
}
.bgDOWN, .bgCRITICAL {
  @apply bg-red-400 text-white;
}
.bgUNREACHABLE {
  @apply bg-red-400 text-white;
}
.bgPENDING {
  @apply bg-truegray-400 text-white;
}
.bgPROBLEMS {
  @apply bg-yellow-200;
}

/*******************************************************************************
 * general
 */
body {
  @apply
    bg-river-bed-100
    font-sans
    text-river-bed-600
    text-sm
    leading-normal tracking-normal
    bg-none
  ;
}

header {
  @apply
    sticky top-0 z-50 px-4 card bg-white
  ;
}
.header {height: 50px;}

main {
  @apply relative px-3 pt-2 pb-4;
}


@media print {
  .noprint {
    display:none;
  }
}

.clickable:hover {
  cursor: pointer;
  vertical-align: middle;
}
.notclickable {
  cursor: default;
  vertical-align: middle;
}

/*******************************************************************************
 * sidebar
 */

.app-logo {
  @apply
    block sticky top-0 z-50 px-2 card bg-white;
	height: 50px;
}
.app-logo > img {
	display: block;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.sidebar {
  @apply
    mb-6 text-left bg-gray-900 text-gray-500
  ;
}
.sidebar > ul {
  @apply
    block flex-wrap list-none pl-0 mb-0 mt-0
  ;
}
.sidebar > ul > li {
}
.sidebar > ul > li > a {
  @apply
    text-gray-300 hover:bg-gray-800 hover:text-gray-200  pt-1 pb-1.5 pl-4 pr-4 text-sm block no-underline hover:no-underline font-semibold flex flex-row items-start border-t border-b border-solid border-gray-600
  ;
}
.sidebar > ul > li.active {
  @apply
    bg-gray-700
  ;
}
.sidebar > ul > li.active > a {
  @apply
    text-gray-200 hover:bg-gray-600 hover:text-gray-200 pt-1 pb-1.5 pl-4 pr-2 text-sm no-underline hover:no-underline font-semibold flex flex-row items-center
  ;
}
.sidebar > ul > li > ul {
  @apply
    flex-wrap list-none pl-0 mb-0 mt-0
  ;
}
.sidebar > ul > li > ul > li > a {
  @apply
    pt-0.5 pb-1 pl-4 text-gray-200 hover:bg-gray-600 hover:text-gray-200 border-l border-solid border-gray-600 text-sm block no-underline hover:no-underline
  ;
}
.sidebar > ul > li > ul > li.active > a {
  @apply
    pt-0.5 pb-1 pl-4 pr-2 text-gray-200 hover:bg-gray-500 hover:text-gray-200 border-l border-solid border-gray-600 text-sm flex flex-row items-start no-underline hover:no-underline
  ;
}
.sidebar > ul > li > ul > li:last-child > a {
  @apply
    mb-4
  ;
}


.sidebar > ul > li.active > ul > li.active {
  @apply
    bg-gray-600
  ;
}


.sidebar > ul > li > ul > li > ul {
  @apply
    flex-wrap list-none pl-0 mb-0 mt-0
  ;
}
.sidebar > ul > li > ul > li > ul > li > a {
  @apply
    pt-0.5 pb-0.5 pl-8 text-gray-200 hover:bg-gray-600 hover:text-gray-200 border-l border-solid border-gray-600 text-sm block no-underline hover:no-underline
  ;
}
.sidebar > ul > li > ul > li > ul > li:last-child > a {
  @apply
    mb-2
  ;
}

.sidebar div.navbarsearch form fieldset {
  @apply
    p-2
  ;
}
.sidebar input.NavBarSearchItem {
  @apply
    block appearance-none border border-gray-900 rounded-md w-full py-3 px-4 text-gray-900 leading-5 focus:outline-none focus:ring-2 focus:ring-gray-500
  ;
}
.sidebar span.deleteicon span {
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
}

/*******************************************************************************
 * Cards
 */
DIV.card {
  @apply w-min h-min text-left bg-white overflow-hidden rounded-lg mt-2 mb-2 text-gray-900;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  H3 {
    @apply px-3 pt-2 pb-1 text-lg leading-6 font-semibold border-b border-gray-200;
  }

  TABLE.table-in-card {
    @apply table-auto px-2 py-3 m-1 w-full;
  }

  .table-in-card th {
    @apply pr-3 pl-2 pb-1 pt-0 text-sm font-medium text-gray-500 whitespace-nowrap;
  }
  .table-in-card th.links {
    @apply font-semibold hover:bg-gray-200 hover:bg-opacity-25 text-gray-900;
  }
  .table-in-card th.links a {
    @apply px-1 py-1 block;
  }
  .table-in-card td {
    @apply px-2 text-sm whitespace-nowrap;
  }
}

/*******************************************************************************
 * buttons
 */
BUTTON, INPUT[type=submit], INPUT[type=button] {
    @apply bg-gray-200 border rounded border-black font-medium p-1 text-black hover:bg-gray-400;
}

BUTTON.primary {
    @apply bg-gray-200 hover:bg-gray-300
}

BUTTON.round {
    @apply w-8 h-2 rounded-full border-none
}
BUTTON.round.big {
    @apply w-10 h-10 text-2xl my-1 mx-0.5
}
.button_peerUP {
    @apply bg-green-500 !important;
}
.button_peerDOWN {
    @apply bg-red-500 !important;
}

/*******************************************************************************
 * status page
 */
TABLE.serviceTotals, TABLE.hostTotals {
    border-collapse: separate;
    border-spacing: 2px;
}

/*******************************************************************************
 * settings popup
 */
#pref_pane {
    @apply shadow-float;
    width:490px;
    min-height:100px;
    position:fixed;
    top: 0px;
    right: 0px;
    z-index: 99;
    background-color:#ffffff;
    border-width: 1px;
    border-spacing: 2px;
    border-style: inset;
    border-color: #C4C2C2;

    TH {
        @apply text-left;
    }

    TABLE.pref_pane {
        margin-top: 0px;
        margin-bottom: 0px;
        border-collapse: separate;
        background-color: inherit;
        width: 100%;
    }

    TABLE.pref_pane .separator {
        border-bottom: 1px dotted grey;
        text-align: center;
        padding-top: 10px;
    }

    .pref_pane_long_inp {
        width: 270px;
    }
    .pref_pane_short_inp {
        width: 160px;
    }

    img.pref_pane_button {
        position:absolute;
        top: 4px;
        right: 4px;
        z-index: 100;
    }
}

/*******************************************************************************
 * settings popup
 */
.thruk_dev_panel {
    position: absolute;
    border: 1px dashed grey;
    background: #DDDDDD;
    padding: 0 5px;
    z-index: 100;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 3px;

    TABLE {
        border-collapse: collapse;
    }

    DIV.profiles {
        height: 600px;
        overflow-y: auto;
        min-width: 700px;
        white-space: pre;
        font-family: monospace;
    }

    .thruk_dev_panel_bar {
        padding: 0;
        margin: 0;
        border: 1px solid black;
        height: 20px;
        min-width: 1px;
    }

    .thruk_dev_panel_square {
        width: 8px;
        height: 8px;
        border: 1px solid gray;
        margin-right: 3px;
        display: inline-block;
    }

    .thruk_dev_panel TABLE TH {
        text-align: left;
    }

    .thruk_dev_panel DIV.profiles TR:hover {
        background: #cecece;
    }

    .thruk_dev_panel button.previous {
        border: 0;
        background: url('../images/resultset_previous.png') no-repeat;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .thruk_dev_panel button.next {
        border: 0;
        background: url('../images/resultset_next.png') no-repeat;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .thruk_dev_panel .stats_elapsed {
        text-align: right;
        padding-right: 10px;;
    }
}

/*******************************************************************************
 * top navigation
 */

TABLE.top_nav {
    @apply w-full;

    BUTTON.round {
        @apply mx-1
    }
}

/*******************************************************************************
 * status page command popup
 */
div.cmd_pane {
  min-width:400px;
  height:100px;
  visibility:hidden;
  position:fixed;
  top: 60px;
  right: 0px;
  z-index: 99;
  color: black;
  font-size: 9pt;
  white-space: nowrap;
}
table.cmd_pane {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.cmd_pane > tbody > tr > td {
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
}

img.cmd_pane_button {
  position:absolute;
  top: 4px;
  right: 4px;
  z-index: 100;
}
th.cmd_pane a, th.cmd_pane {
  text-align:center;
  color:#DCE5C1;
  font-size:10pt;
}

/*******************************************************************************
 * site panel / backends
 */
TABLE.site_panel_container {
     @apply m-0 p-0;
}
div.backend {
    @apply float-left -ml-1;

    INPUT {
        @apply bg-gray-200 border border-black border-opacity-50 font-medium p-0 text-black hover:bg-gray-400 w-20 text-xs;
    }
	input.button_peerUP {
		@apply bg-green-500 hover:bg-green-700 py-1 px-2;
	}
	input.button_peerDOWN {
		@apply bg-red-500 hover:bg-red-700 py-1 px-2;
	}
	input.button_peerDIS {
		@apply py-1 px-2;
	}
}
div.backend:first-child {
	input {
		@apply rounded-none rounded-l;
	}
}
div.backend:last-child {
	input {
		@apply rounded-none rounded-r;
	}
}


/*******************************************************************************
 * Overwrite old classes
 */
